## Search Ticketmaster events

In [1]:
import sys
sys.path.append("../")
import src.ticketmaster as tk

In [2]:
import pandas as pd

In [3]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
token=os.getenv("token_ticketmaster")

## Search how many of your liked artists have related events in ticketmaster

In [5]:
df = pd.read_csv("../data/songs_you_like_clusterfeatures.csv", index_col = 0 )

In [6]:
tick=["Cluster_features",'Artist','Artist_followers']

In [7]:
df_ticketmaster=df[tick]
df_ticketmaster.dtypes

Cluster_features     int64
Artist              object
Artist_followers     int64
dtype: object

In [8]:
df_ticketmaster_sorted = df_ticketmaster.sort_values(["Cluster_features", "Artist_followers"])

In [9]:
df_ticketmaster_sorted.head()

     Cluster_features           Artist  Artist_followers
608                 0  Lost In Pacific               113
619                 0  Lost In Pacific               113
467                 0          CRISPIN               123
603                 0            Polys               135
509                 0       After Milo               161

In [78]:
artist_list=df_ticketmaster["Artist"].unique()

In [79]:
df_your_event = tk.your_artist_ticketmaster(artist_list, token)

                  artist  number_concerts
0                 Cocoon                1
1             The Police               11
2    Angus & Julia Stone                1
3                Shakira                1
4                Becky G                4
..                   ...              ...
365           Status Quo                5
366     The Chainsmokers                1
367                 CNCO               10
368               Skegss               13
369           Bruno Mars               14

[370 rows x 2 columns]

In [133]:
df_artist=df_your_event.sort_values(by="number_concerts", ascending=False)

In [134]:
artists=df_artist["artist"].unique()

## Conect to ticketmaster API to get you events

In [137]:
df_events=tk.tu_request_ticketmaster(artists, token)

In [140]:
df_events["event_date"] = df_events["event_date"].dt.strftime("%d-%m-%Y")

In [145]:
df_events["event_min_price"] = df_events["event_min_price"].fillna("Unknown")
df_events["event_max_price"] = df_events["event_max_price"].fillna("Unknown")

In [146]:
df_events.head()

,event_name,event_location,event_lat,event_long,event_date,event_min_price,event_max_price,artist,url
0,Luna,Washington,38.91819,-77.02241,06-09-2023,44.0,44.0,Luna,https://www.ticketmaster.com/luna-washington-d...
1,Luna,New York,40.720364,-73.993542,08-09-2023,35.0,35.0,Luna,https://www.ticketmaster.com/luna-new-york-new...
2,Luna,New York,40.720364,-73.993542,09-09-2023,35.0,35.0,Luna,https://www.ticketmaster.com/luna-new-york-new...
3,Luna,New York,40.720364,-73.993542,10-09-2023,35.0,35.0,Luna,https://www.ticketmaster.com/luna-new-york-new...
4,Luna Bec,London,51.53738687,-0.14575869,17-05-2023,Unknown,Unknown,Luna,https://www.ticketweb.uk/event/luna-bec-green-...

In [141]:
df.to_csv("../data/df_events.csv")

In [147]:
df["event_location"].unique()

array(['Washington', 'New York', 'London', 'Dublin', 'Groningen',
       'Tucson', 'Glasgow', 'Birmingham', 'St Albans', 'Syracuse',
       'Marbella', 'MÃ©xico', 'West Hollywood', 'Greeley',
       'Newcastle Upon Tyne', 'Sheffield', 'Manchester', 'Ferndale',
       'Belfast', 'Chicago', 'Bradford', 'Clifton', 'Indianapolis',
       'Boston', 'Atlanta', 'Baton Rouge', 'Portsmouth', 'Everett',
       'Windsor', 'Nottingham', 'Austin', 'Fort Worth', 'Inglewood',
       'Denver', 'San Francisco', 'Orlando', 'San Diego', 'Seattle',
       'Charlotte', 'Hollywood', 'Saint Paul', 'Detroit',
       'Salt Lake City', 'Columbus', 'Pittsburgh', 'Royal Oak',
       'Philadelphia', 'Toronto', 'Phoenix', 'St Louis', 'Madison',
       ' Minneapolis', 'Montreal', 'Raleigh', 'Dallas', 'Austin ',
       'Vorst', 'Leeds', 'Hamburg', 'Bonner Springs', 'Woodlands',
       'Chula Vista', 'Los Angeles', 'Mountain View', 'West Valley City',
       'Rogers', 'Somerset', 'Cincinnati', 'Noblesville', 'Las Vegas',
       'San Antonio', 'Cleveland', 'Houston', 'Holmdel', 'Jacksonville',
       'Alpharetta', 'Baltimore', 'Praha 7', 'Munich', 'Amsterdam',
       'Oberhausen', 'Forest Hills', 'Nashville', 'Esch-sur-Alzette',
       'KÃ¸benhavn S', 'Columbia', 'Rosemont', 'Sterling Heights',
       'Irving', 'Oakland', 'Vancouver', 'Silver Spring', 'Brooklyn',
       'Minneapolis', 'Kansas City', 'Tempe', 'Bristol', 'Reading',
       'Durant', 'Portland', 'Spokane', 'Biloxi', 'Winston-Salem',
       'Clarkston', 'Sacramento', 'Co. Dublin', 'Merksem (Antwerpen)',
       'KÃ¸benhavn Ã˜', 'Praha 9', 'Helsinki', 'Edinburgh ', 'Leesburg',
       'Costa Mesa', 'Whitley Bay', 'Cambridge', 'Liverpool',
       'Coral Gables', 'Brighton', 'Coral Springs', 'Wrexham', 'Cardiff'],
      dtype=object)